<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Portfólio Gabriel"/>
    <meta property="og:image" content="{{ url_for('static', filename='styles/images/perfil.jpg') }}"/>
    <meta property="og:url" content="https://gabrielhsilva.herokuapp.com/"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Portfólio Gabriel</title>
</head>
<body>    
    <header class="header-container">
        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-items">
                        <h1>Sobre mim:</h1>
                        <h2>Estudante de programação dedicado, procuro uma oportunidade na área de TI para adquirir conhecimento e experiência.
                            Aprendo muito fácil e rápido, procuro crescimento pessoal e profissional. Nunca parar de aprender para nunca parar de ensinar.
                        </h2>
                        <p class="contact-position">Celular: <a href="https://wa.link/yvl6me" target="_blank">(11)97612-9041</a></p>
                        <p class="contact-position">E-mail: gabriel.silva-h@hotmail.com</p>
                    </nav>
                </div>
            </div>
        </div>
        <h1>Gabriel H Silva</h1>
        <h2>Python Developer</h2>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/gabrielhsilva/" target="_blank">Linkedin</a>
            <a href="https://github.com/cjdotcom" target="_blank">Github</a>
        </div>
    </header>
    <h1 class="sumario">Projetos</h1>
    <div class="linha-h"></div>
    <main class="container">
        <!--PRIMEIRO PROJETO-->
        <a href="https://contasdecasa.herokuapp.com/" target="_blank">
        <div class="card-container">
            <div class="card">
                <div class="card-wrapper">
                    <h2>Contas de Casa</h2>
                    <p>JavaScript</p>
                </div>
            </div>
            </a>
            <div class="card-text">
                Gosto sempre de criar projetos relacionados com as minhas necessidades. Em casa nos dividimos as contas essenciais(agua, luz, etc) por igual, porém há algumas situações onde nem todos pagam.
                As contas começaram a ficar maçante demais para ser feito em uma calculadora. Como comecei a aprender JavaScript para me qualificar no mercado, decidi usar isso ao meu favor para desenvolver essa aplicação.
            </div>
        </div>
        <!--FIM DO PRIMEIRO PROJETO-->
        
        <!--SEGUNDO PROJETO-->
        <a href="https://webscraping-clima.herokuapp.com/" target="_blank">
        <div class="card-container">
            <div class="card">
                <div class="card-wrapper">
                    <h2>Web Scraping</h2>
                    <p>Python</p>
                </div> 
            </div>
            </a>
            <div class="card-text">
                Neste projeto quis explorar o web scraping, é meu primeiro projeto utilizando esse metodo de coleta de dados. Como alvo, utilizei um site com informações do tempo.
                O programa faz a coleta de dados sobre temperatura mediante a informação de um local.
            </div>
        </div>
        <!--FIM DO SEGUNDO PROJETO-->

        <!--TERCEIRO PROJETO-->
        <a href="https://cifrade-cesar.herokuapp.com/" target="_blank">
            <div class="card-container">
                <div class="card">
                    <div class="card-wrapper">
                        <h2>Cifra de Cesar</h2>
                        <p>Python</p>
                    </div> 
                </div>
                </a>
                <div class="card-text">
                    Simples projeto de cifra de cesar utilizando python.
                </div>
            </div>
            <!--FIM DO TERCEIRO PROJETO-->
    </main>
    <footer class="footer">
        Feito por Gabriel Henrique
    </footer>
    <script>
        var chkBox = document.getElementById("toggle")
        chkBox.onclick = function (){
            if (chkBox.checked) {
                document.documentElement.style.overflow = 'hidden'
            }else {
                document.documentElement.style.overflow = 'scroll'
            }
        }
        
    </script>
</body>
</html>